:root {
	--base: #c5c5cc;
	--dbase: #747676;
	--main: #b388eb;
}
.cloze, .dark .cloze {
	padding: 1px 4px 2px 4px!important;
	background-color: unset;
	border-bottom-width: 2px!important;
	/* Rounded Corners */
	border-bottom-left-radius: 4px!important;
	border-bottom-right-radius: 4px!important;
}
.light .cloze {
	border-bottom-color: var(--base);
}
.dark .cloze {
	border-bottom-color: var(--dbase);
}
/* On Hover */
.cloze:hover {
	border-bottom-color: var(--main);
}
/* Cloze Arrow */
.rich-text-editor__change-cloze-button, .dark .rich-text-editor__change-cloze-button {
	background-color: unset;
	color: var(--main);
}
.rich-text-editor__change-cloze-button:hover {
	background-color: unset;
	color: var(--main);
} 
/* Cloze for Latex */
.rn-editor .latex-node:not(.rem-reference .latex-node) {
	border-bottom-style: none;
}
.rem-reference .latex-node {
	padding: 0px 4px 0px 4px!important;
}
