/* Idle State (No Hover) */
#hierarchy-editor .portal-tree-node-box {
	border-radius: 5px;
	transition: border-color .35s ease;
}
/* On Hover */
#hierarchy-editor .portal-tree-node-box:hover {
	border-color: #efcfe3;
	border-radius: 5px;
	transition: border-color .35s ease;
}
/* When Focused */
#hierarchy-editor .portal-tree-node-box--focused, #hierarchy-editor .portal-tree-node-box--focused:hover {
	border-color: #d9ed92;
}
/* When Selected */
#hierarchy-editor .portal-tree-node-box--selected, #hierarchy-editor .portal-tree-node-box--selected:hover {
	border-color: #b5e4e9;
}
/* When Portal is a Card Item */
#hierarchy-editor .portal-tree-node-box--card-item:before {
	background-color: pink;
	border-left-color: pink;
}
/* Transparent When Not Focused */
#hierarchy-editor .portal-tree-node-box:before {
	background: transparent;
}
