/* Do Not Show Indent Lines For Rems That Are Not Card Items */
.hierarchy-editor--ltr .TreeNode, .hierarchy-editor--ltr .TreeNode--list {
	border-left-style: none;
}
/* Make Indent Lines for CARD ITEMS Less Dark + Less Thick */
.node-card-item:before {
	background-color: #B8B8CC;
	width: 1.5px; /* You can increase or  decrease this number to make it more or less thick. */
}
