/* Author: @anishaaa1 | Github */
/* Header 1 */
.rem-container--header-1 {
    --line-height:36px
}
.rem-header--1:not(.document-title) {
	font-size: 1.98rem;
	font-weight: 600;
	color: #F4ACB7;
}
/* Header 2 */
.rem-container--header-2 {
    --line-height:32px
}
.rem-header--2:not(.document-title) {
	font-size: 1.78rem;
	font-weight: 600;
	color: #BDB2FF;
}
/* Header 3 */
.rem-container--header-3 {
    --line-height:28px
}
.rem-header--3:not(.document-title) {
	font-size: 1.58rem;
	font-weight: 600;
	color: #83BCFF;
}
/* Header 4 */
[data-rem-tags~="h4"] .rem-container {
	--line-height: 24px;
}
[data-rem-tags~="h4"] .rem-text {
	font-size: 1.38rem;
	font-weight: 550;
	color: #A9DEF9;
}
/* Header 5 */
[data-rem-tags~="h5"] .rem-container {
	--line-height: 20px;
}
[data-rem-tags~="h5"] .rem-text {
	font-size: 1.22em;
	font-weight: 550;
	color: #B0F2B4;
}
/* Header 6 */
[data-rem-tags~="h6"] .rem-container {
	--line-height: 16px;
}
[data-rem-tags~="h6"] .rem-text {
	font-size: 1.08rem;
	font-weight: 550;
	color: #FDE690;
}
