/* Red Highlight */
.highlight-color--red:not(.rn-editor__rem__tags .highlight-color--red) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
/* Orange Highlight */
.highlight-color--orange:not(.rn-editor__rem__tags .highlight-color--orange) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
/* Yellow Highlight */
.highlight-color--yellow:not(.rn-editor__rem__tags .highlight-color--yellow) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
/* Green Highlight */
.highlight-color--green:not(.rn-editor__rem__tags .highlight-color--green) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
/* Blue Highlight */
.highlight-color--blue:not(.rn-editor__rem__tags .highlight-color--blue) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
/* Purple Highlight */
.highlight-color--purple:not(.rn-editor__rem__tags .highlight-color--purple) {
	padding: 1px 4px 2px 4px;
	border-radius: 4px; }
